<div class="container">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <button type="button" class="btn btn-outline-secondary" (click)="paginaAnterior()">Devolver</button>
        <h2 class="border-bottom pb-2 mb-0">Comentarios del post</h2>
        <div class="d-flex text-muted pt-3" *ngFor="let comentarios of comentariosDe; let i = index">
            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">
                    <strong class="text-gray-dark">{{comentarios.email}}</strong>
                </div>
                <em class="d-block">{{comentarios.name}}</em>
                <span class="d-block">{{comentarios.body}}</span>
            </div>
        </div>
    </div>
</div>